//breakpoints
$bp-desktop: 1024px;
$bp-tablet: 697px; //utilities
$borderradius: 5px; //colors
$brand-color-primary: #053f38;
$brand-color-mutual: #848484; //fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
$fontstack: 'Nunito', sans-serif;